.overlay {
    background: #eeeeee;
	padding: .25rem .75rem;
	border-radius: .5rem;
	box-shadow: 0px 1px 3px rgb(0 0 0 / 30%);
	font-size: 1.25rem;
	color: #505050;
	margin: .75rem;
    display: inline-block;
}