.wizard-item .number {
    display: inline-block;
    color: #fff;
    background: #7fa77f;
    height: 18px;
    width: 18px;
    border-radius: 10px;
    text-align: center;
    margin-right: .75rem;
}

.wizard-item.disabled {
  opacity: 0.5;
}

.wizard-item.disabled .number {
  background: #5f5f5f;
}

.panel {
  margin-bottom: 1rem;
}

.panel-body {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.panel-default {
  border-color: #c0c0c0;
}

.panel-default>.panel-heading {
  color: #5f5f5f;
  background-color: #f7f7f7;
  border-color: #c1c1c1;
}
