<div [class]="cssClasses" [class.disabled]="!show" style="box-shadow: 0px 1px 4px rgba(0,0,0,0.2);">
  <div class="panel-heading">
	<strong aria-atomic="true" aria-live="polite" class="text-left">
	  <span class="number">{{number}}</span> {{title}}
	</strong>
  </div>
  <div class="panel-body" *ngIf="show">
    <ng-content select="[dime-placeholder=content]"></ng-content>
  </div>
 </div>