<ng-container *ngIf="filteredHistory.length < 2">
	<div class="alert alert-info">
		There aren't enough entries that can be used for equivalence checking
	</div>
	
	<div class="text-right">
		<button class="btn btn-primary" (click)="close()">Close</button>
	</div>
</ng-container>
<ng-container *ngIf="filteredHistory.length >= 2">
	<div class="d-flex align-items-center">
		<strong class="flex-grow-1">Select two ADDs you want to compare</strong>
	</div>
	
	<table class="table table-striped table-bordered table-condensed" style="margin-top: 15px">
		<thead>
			<tr>
				<th>ADD Variant</th>
				<th>Number of nodes</th>
				<th>Maximum depth</th>
				<th>Number of trees</th>
				<th>Bagging size</th>
				<th>Seed</th>
				<th>Filter unsat. paths</th>
				<th>Dataset</th>
				<th>Opt. predicate order</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let info of filteredHistory" (click)="selectAdd(info)" [class.selected]="isSelected(info)">
				<td>{{info.variant}}</td>
				<td>{{info.numberOfNodes}}</td>
				<td>{{info.maximumDepth}}</td>
				<td>{{info.numTrees}}</td>
				<td>{{info.baggingSize}}</td>
				<td>{{info.seed}}</td>
				<td>{{info.filterUnsatPaths ? 'true' : 'false'}}</td>
				<td>{{info.dataSet.type}}</td>
				<td>{{info.optimizePredOrder ? 'true' : 'false'}}</td>
			</tr>
		</tbody>
	</table>
	
	<div class="text-right">
		<button class="btn btn-primary" (click)="submit()" [disabled]="!canSubmit()">Check Equivalence</button>
	</div>
</ng-container>