<div class="d-flex flex-column position-absolute top-0 bottom-0 overflow-hidden w-100">
	<div class="header flex-shrink-0" style="
	    align-items: center;
	    display: flex;
	    justify-content: center;">
	    
	    <div style="position: relative;display: inline-block;background: #678667;width: 32px;height: 32px;overflow: hidden;border-radius: 6px;margin-right: 1rem;">
		    <span class="glyphicon glyphicon-tree-conifer" style="
			    position: absolute;
			    left: 7px;
			    top: 9px;
			    z-index: 2;
			"></span><span class="glyphicon glyphicon-tree-conifer" style="
			    position: absolute;
			    font-size: 1.25rem;
			    left: 2px;
			    top: 12px;
			    color: #324432;
			"></span>
			    <span class="glyphicon glyphicon-tree-conifer" style="
			    position: absolute;
			    font-size: 1.25rem;
			    right: 0;
			    top: 12px;
			    color: #324432;
			"></span>
	    </div>
	    
	    <span>ForestGUMP</span>
	</div>
	<div class="flex-grow-1 d-flex flex-row h-100">
		<div style="min-width: 450px; max-width: 450px; width: 450px; background: #f9f9f9; border-right: 1px solid #b1b1b1; position: relative">
			<div style="position: absolute; width: 100%; top: 0; bottom: 0; overflow: auto; padding: 1rem;">
				<ng-content select="[dime-placeholder=sidebar]"></ng-content>
			</div>
		</div>
		<div class="main flex-grow-1 d-flex flex-column h-100">
			<ng-content select="[dime-placeholder=main]"></ng-content>
		</div>
	</div>
</div>
