.header {
  text-align: center;
  padding: 1.5rem 2rem;
  color: #fff;
  background: #7fa77f;
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: .15rem;
}

svg {
	height: 100%;
	width: 100%;
	display: flex;
	flex-grow: 1;
}