<div class="d-flex flex-column h-100">
  <div class="flex-shrink-0 p-4 d-flex" style="box-shadow: 0 1px 2px rgba(0,0,0,0.2); background: #fff">
	<div class="btn-group btn-group-sm ml-auto">
	  <button class="btn btn-default" id="zoom-in" onclick="zoomIn()">Zoom In</button>
	  <button class="btn btn-default" id="zoom-out" onclick="zoomOut()">Zoom Out</button>
	  <button class="btn btn-default" id="zoom-reset" onclick="zoomReset()">Reset Zoom</button>
	</div>
  </div>
  <div class="flex-grow-1 overflow-hidden position-relative">
  	<div style="position: absolute; z-index: 10">
	  <ng-content select="[dime-placeholder=info]"></ng-content>
  	</div>
  	<div id="graph" class="position-absolute bottom-0 top-0 w-100 overflow-hidden" [style.display]="numberOfNodes <= maxNumberOfNodes ? 'block' : 'none'"></div>
  	<div class="position-absolute top-0 bottom-0 w-100 overflow-hidden" *ngIf="numberOfNodes > maxNumberOfNodes">
  	  <div class="alert alert-info" style="margin: 1rem; margin-top: 38px">
  		ADDs with more than {{maxNumberOfNodes}} nodes can currently not be visualized. 
  		The current ADD has {{numberOfNodes}} nodes. 
  		You can however export the ADD as a dot file.
  	  </div>
  	</div>
  </div>
  <div>
  	<ng-content select="[dime-placeholder=content]"></ng-content>
  </div>
</div>
