<div class="alert alert-info" style="padding: .75rem 1.5rem; margin: 0 1.5rem 1.5rem 1.5rem; border: 4px solid #31708f;">
  <div>
    <strong class="mr-2">Selected method: </strong><span>{{getSelectedMethod(method)}}</span>  
  </div>
  <div *ngIf="values != null && values.length > 0">
    <strong class="mr-2">Selected values: </strong><span>{{text}}</span> 
    <div class="text-right" style="margin-top: .75rem;">
    	<button class="btn btn-info btn-xs" (click)="resetSelectedValues()">Reset Values</button>
	</div>
  </div>
</div>
