/* General */

* {
  box-sizing: border-box;
}

ph,
ph > .row,
ph > .row > .col-sm-12 {
   all: unset;
   display: contents;
}


/*
.main > ph > ph > .row:last-child {
  flex-grow: 1;
}

.main > ph > ph > .row:last-child > div {
  height: 100%;
}
*/

@media (min-width: 992px) {
    .help-modal .modal-dialog {
      width: 900px;
    }
}

plugin-abhzferrieeypwvcshnyt4qangha8f4teear0nzybbrmtw,
plugin-alm3zobq_eeybwot733h5lwangha8f4teear0nzybbrmtw,
plugin-af__aurb_45_eey6x9sa8mc_45_rwangha8f4teear0nzybbrmtw,
plugin-axzf_0rbveey6x9sa8mc_45_rwangha8f4teear0nzybbrmtw,
historypanel {
	display: contents;
}

*[dime=history-table] tbody tr:first-of-type {
  background: #d9edf7;
}

.btn-primary {
  color: #fff;
  background-color: #4689cf;
  border-color: #2c639c;
}

.btn-primary:hover {
  color: #fff;
  background-color: #4170a1;
  border-color: #395d82;
}

.btn-primary:active {
  color: #fff;
  background-color: #345b84;
  border-color: #284665;
}

/* Stuff */

.load-dataset-wizard-item .form-group {
	margin-bottom: 0;
}

.load-dataset-wizard-item br {
	display: none;
}

div[dime='btn-group-block'],
div[dime='btn-group-block'] .btn-group,
div[dime='btn-group-block'] .btn {
  width: 100%;
}

/* Modals */

.modal {
  background: rgba(0,0,0,0.2);
  backdrop-filter: blur(4px);
}

/* Utilities from Bootstrap 4 */

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.align-items-center {
  align-items: center;
}

.p-1 {
  padding: .25rem;
}

.p-2 {
  padding: .5rem;
}

.p-3 {
  padding: .75rem;
}

.p-4 {
  padding: 1rem;
}

.m-1 {
  margin: .25rem;
}

.m-2 {
  margin: .5rem;
}

.m-3 {
  margin: .75rem;
}

.m-4 {
  margin: 1rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.cursor-pointer {
  cursor: pointer;
}
