<div class="history-panel d-flex flex-column h-100" [class.collapsed]="collapsed">
	<div class="d-flex flex-row align-items-center cursor-pointer" style="background: #f9f9f9; border-top: 1px solid #cccccc; padding: 1rem; color: #5f5f5f" (click)="collapsed = !collapsed">
		<div class="w-100">
			<span class="glyphicon glyphicon-list-alt mr-2 top-0"></span> <strong>History</strong>
		</div>
		<div class="">
			<span class="glyphicon top-0 cursor-pointer" [class.glyphicon-chevron-up]="collapsed" [class.glyphicon-chevron-down]="!collapsed"></span>
		</div>
	</div>
	<div class="flex-grow-1 position-relative" *ngIf="!collapsed">
		<div class="position-absolute top-0 bottom-0 w-100 overflow-auto" style="background: #fff; border-top: 1px solid #cccccc; padding: 1rem;">
			<ng-content select="[dime-placeholder=content]"></ng-content>
		</div>
	</div>
</div>