<ng-container *ngIf="canUseVerification">

	<div class="mb-4">
	  	<strong>Add preconditions</strong>
	  	<p class="help-text">
	  		<small class="text-muted">Preconditions are combined via conjunction</small>
	  	</p>
	</div>
	
	<form class="mb-4" novalidate [ngFormModel]="addForm" (ngSubmit)="addPrecondition()">
		<div class="d-flex align-items-center" style="gap: 10px">
			<select class="form-control" ngControl="attribute" formControlName="attribute">
				<option *ngFor="let attr of attributeNames" [value]="attr">{{attr}}</option>
			</select>
			<select class="form-control" ngControl="operator" formControlName="operator">
				<option value=">">&gt;</option>
				<option value=">=">&gt;=</option>
				<option value="<=">&lt;=</option>
				<option value="<">&lt;</option>
				<option value="==">==</option>
			</select>
			<input class="form-control" type="text" placeholder="Enter a value" ngControl="value" formControlName="value">
			<button class="btn btn-primary" [disabled]="!addForm.valid">Add</button>
		</div>
	</form>
	
	<div class="alert alert-info" *ngIf="preconditions.length === 0">
		You haven't specified any preconditions yet.
	</div>
	
	<div class="list-group" *ngIf="preconditions.length > 0">
		<div class="list-group-item d-flex align-items-center" *ngFor="let condition of preconditions; let i = index">
			<span class="flex-grow-1">{{condition}}</span>
			<span class="glyphicon glyphicon-remove cursor-pointer" (click)="removePrecondition(i)"></span>
		</div>
	</div>
	
	<div class="mb-4">
	  	<strong>Select classes</strong>
	  	<p class="help-text">
	  		<small class="text-muted">You have to select at least one class</small>
	  	</p>
	</div>
	
	<div class="list-group class-list">
		<div class="list-group-item list-group-item-action" *ngFor="let cls of classLabels" (click)="selectClassLabel(cls)" [class.selected]="isSelectedClassLabel(cls)">
			{{cls.value}}
		</div>
	</div>
	
	<div class="text-right">
		<button class="btn btn-primary" (click)="submit()" [disabled]="!canSubmit()">Verify</button>
	</div>

</ng-container>

<ng-container *ngIf="!canUseVerification">
	<div class="alert alert-info">
		You cannot use verification with the current method
	</div>

  	<div class="text-right">
		<button class="btn btn-primary" (click)="close()">Close</button>
  	</div>
</ng-container>