<div class="modal fade in" role="dialog" style="display: block; text-align: initial;" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="max-height: 80vh;overflow-y: auto;">
                <errorview-tag aria-atomic="true" aria-live="polite">
                    <div class="row">
                        <div class="col-md-12 text-left"><span><span aria-atomic="true" aria-live="polite"
                                                                     class="text-left">{{errorMessage}}
						</span></span>
                        </div>
                    </div>
                </errorview-tag>
            </div>
            <div class="modal-footer">
            	<button class="btn btn-success" (click)="submitFeatureValues">Ok</button>
        	</div>
        </div>
    </div>
</div>