<form (submit)="submitFeatureValues($event)">
  <div class="form-group" *ngFor="let featureLabel of featureLabels; let i=index">
	<label>{{featureLabel}}</label>
	<input required class="form-control" type="{{getType(i)}}" step="any" (change)="addFeatureValue($event,i)">
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-primary">Visualize Explanation</button>
  </div>
</form>